STACK_VERSION=8.15.3

ELASTIC_PASSWORD=DetectTrace-Local-Elastic-ChangeMe-2026!
KIBANA_PASSWORD=DetectTrace-Local-Kibana-ChangeMe-2026!

KIBANA_ENCRYPTION_KEY=DetectTrace-EncryptedSavedObjects-Key-ChangeMe-2026
KIBANA_SECURITY_KEY=DetectTrace-Kibana-Security-Key-ChangeMe-2026
KIBANA_REPORTING_KEY=DetectTrace-Kibana-Reporting-Key-ChangeMe-2026
